* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --cor-primaria:#000000;
    --cor-secundaria:#FFFFFF;
    --cor-terciaria: #C0392B;
}

.menu{
    padding: 15px;
    background: var(--cor-primaria);
    color: var(--cor-secundaria);   
    
}
.menu > ul{
    list-style: none; /*menu ficar sim o pontinho da lista*/
    margin-left: 10%;
}
.menu > ul > li > a{
    color: var(--cor-secundaria);
    padding: 10px;
    text-decoration: none;
}

.menu > ul > li{
    display: inline;
    padding: 50px;
}

#busca{
    width: 60%;
    font-size: 20px;
}

.busca{
    padding-top: 30px;
    color: var(--cor-secundaria);
}

.busca > form > label {
    border: 1px solid #000000;
    background-color: var(--cor-terciaria);
    font-size: 20px;
}
.busca-rodape > form > label {
    border: 1px solid #000000;
    background-color: var(--cor-terciaria);
    font-size: 20px;
}
.fundo{
    background-image: url("../minhas_series/images/fundo.png");
    height: 500px;
    background-size: 100%; /*deixar o fundo do mesmo tamanho da tela*/
    background-repeat: no-repeat;
}

.conteudo{
    padding-left: 260px;
    padding-top: 200px;
}

.cards{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.card{
    text-align: center;
    padding-right: 20px;
    
}

.rodape{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    height: 200px;
    display: flex;
    padding-left: 190px;
}
.conteudo-rodape{
    padding: 20px;
    padding-right: 700px;
}
.conteudo-rodape > ul > li{
    padding-bottom: 10px;
}

.conteudo-rodape > ul{
    list-style: none; /*menu ficar sim o pontinho da lista*/
}
.conteudo-rodape > ul > li > a{
    text-decoration: none;
    color: var(--cor-secundaria);
    
}

