* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --cor-primaria: #1B4436;
    --cor-secundaria: #50AA5A;
    --cor-terciaria: #FFFFFF;
}

.menu{
    padding: 15px;
    background: var(--cor-primaria);
    color: var(--cor-terciaria);
}
.menu > ul{
    list-style: none; /*menu ficar sim o pontinho da lista*/
    margin-left: 10%;
    
}
.menu > ul > li > a{
    display: inline; /*menu ficar na mesma linha*/
    color: var(--cor-terciaria);
    padding: 10px;
    text-decoration: none;
    
}
.menu > ul > li{
    display: inline;
}


.titulo{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}
.imagem{
    background-image: url("../fazenda_organica/images/fundomenu.png");
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.titulo > h1{
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    padding: 8px;
}

.titulo > img{
    padding-bottom: 100px;
    padding-top: 100px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
}


.card{
    width: 389px;
    border: 1px solid var(--cor-secundaria);
    border-radius: 8px;
    margin: 10px;    
    
}

.card > p{
    margin-left: 10px;
}

.saiba_mais{
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    padding: 5px;
    border-radius: 0 0 6px 6px;
}
.saiba_mais > a{
    text-decoration: none;
    color: var(--cor-terciaria);
}
.card_uva{
    background-image: url("../fazenda_organica/images/uva.png");
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_gado{
    background-image: url("../fazenda_organica/images/gado.png");
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_laranja{
    background-image: url("../fazenda_organica/images/laranja.png");
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_caprino{
    background-image: url("../fazenda_organica/images/ovelha.png");
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_ovos{
    background-image: url("../fazenda_organica/images/galinha.png");
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_tomate{
    background-image: url("../fazenda_organica/images/tomate.png");
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_hortfruti{
    background-image: url("../fazenda_organica/images/alface.png");
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo_pagina{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
}

.conteudo{
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.texto_conteudo{
    padding-left: 100px;
    padding-right: 100px;
    width: 1000px;
}

.conteudo > img {
    margin: 10px;
}
